/*
* Setup variables de couleur
*/
:root {
    --red-color: #d33c43;
    --orange-color: #d3b73c;
    --green-color: #3cd343;
    --white-color: #f1f1f1;
    --lightgrey: #888;
    --darkgrey: #2a2a2a;
}

/*
 * Texte justifié sur l'ensemble du composant et marge en dessous pour donner de la place au composant suivant.
 */
.flydate {
    text-align: justify;
    margin-bottom: 2rem;
}

/*
 * Indication de composant rempli requis en rouge à coté du label.
 */
.flydate .required::before {
    content: "required";
    color: var(--red-color);
    font-size: 10px;
    vertical-align: top;
}

/*
 * Encadré en rouge d'erreur si un paramètre vital est manquant.
 */
.flydate .error {
    color: var(--red-color);
    border-style: double;
    border-width: 1rem;
    border-color: var(--red-color);
}

/*
 * Tous les éléments de la barre de recherche sont sur fond gris foncé et non noir.
 */
.flydate .date>input {
    display: none;
}

/*
 * Tous les éléments de la barre de recherche sont sur fond gris foncé et non noir.
 */
.flydate .date .dator {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/*
 * Tous les éléments de la barre de recherche sont sur fond gris foncé et non noir.
 */
.flydate .date .dator>* {
    background-color: var(--darkgrey);
    margin: 0 1rem;
}

/*
 * Indicateur si le contenu du champ est valide ou non.
 */
.flydate .date .dator::after {
    float: right;
    align-items: text-bottom;
}

/*
 * Champ
 */
.flydate .date .dator .input,
.flydate .date .dator .select {
    border-style: solid;
    border-width: 5px;
    border-color: var(--lightgrey);
    border-radius: 4px;
}

/*
 * Champ heure (pour le selecteur AM/PM
 */
.flydate .date .dator .input.hour {
    display: flex;
}

/*
 * inputs & select du Champ
 */
.flydate .date .dator .input input,
.flydate .date .dator .input select,
.flydate .date .dator .select select {
    border: none;
    margin-bottom: unset;
    color: var(--white-color);
    width: 8.5rem;
    text-align: right;
    padding-right: 1rem;
}

/*
 * Contour Champ vide.
 */
.flydate .date .dator .input:has(input[required]:empty) {
    border-color: var(--red-color);
}

/*
 * Contour Champ rempli avec information incorrecte.
 */
.flydate .date .dator .input:has(input[required]:not(:placeholder-shown)) {
    border-color: var(--orange-color);
}

/*
 * Contour Champ rempli avec information incorrecte.
 */
.flydate .date .dator.valid .input:has(input[required]) {
    border-color: var(--green-color);
}

/*
 * Contour Champ vide.
 */
.flydate .date .dator:has(input[required]:empty)::after {
    content: "empty";
    color: var(--red-color);
}

/*
 * Contour Champ rempli avec information incorrecte.
 */
.flydate .date .dator:has(input[required]:not(:placeholder-shown))::after {
    content: "wrong";
    color: var(--orange-color);
}

/*
 * Contour Champ rempli avec information incorrecte.
 */
.flydate .date .dator.valid:has(input[required])::after {
    content: "correct";
    color: var(--green-color);
}


/*
 * Les options de selecteur sur fond noir.
 */
.flydate .date .dator .input select option,
.flydate .date .dator .select select option {
    background-color: var(--darkgrey);
}

/*
 * Si écran smartphone
 */
@media screen and (max-width: 640px) {
    /*
     * Inputs du champ
     */
    .flydate .date .dator .input input {
        width: 6.4rem
    }
}