/*
 *Setup variables de couleur
 */
:root {
    --red-color: #d33c43;
    --orange-color: #d3b73c;
    --green-color: #3cd343;
    --white-color: #f1f1f1;
    --lightgrey: #888;
    --darkgrey: #2a2a2a;
}

/*
 * Texte justifié sur l'ensemble du composant et marge en dessous pour donner de la place au composant suivant.
 */
.flymultiselect {
    text-align: justify;
    margin-bottom: 2rem;
}

/*
 * Indication de composant rempli requis en rouge à coté du label.
 */
.flymultiselect .required::before {
    content: "required";
    color: var(--red-color);
    font-size: 10px;
    vertical-align: top;
}

/*
 * Encadré en rouge d'erreur si un paramètre vital est manquant.
 */
.flymultiselect .error {
    color: var(--red-color);
    border-style: double;
    border-width: 1rem;
    border-color: var(--red-color);
}

/*
 * Tous les inputs de la partie selection sont cachés.
 */
.flymultiselect .select .choices input {
    display: none;
}

/*
 * Tous les éléments de la barre de recherche sont sur fond gris foncé et non noir.
 */
.flymultiselect .select .selector>* {
    background-color: var(--darkgrey);
}

/*
 * La partie selection est encadré par une ligne grise courbée.
 */
.flymultiselect .select .choices {
    border-style: solid;
    border-width: 1px;
    border-color: var(--lightgrey);
    border-radius: 4px;
}

/*
 * Contour partie selection vide.
 */
.flymultiselect .select .choices:not(.valid):has(input[required]:empty) {
    border-color: var(--red-color);
}

/*
 * Contour partie selection contient une valeur correcte.
 */
.flymultiselect .select .choices.valid:has(input[required]) {
    border-color: var(--green-color);
}

/*
 * Le titre de la partie selection est lui meme encadré par une ligne grise courbée
 */
.flymultiselect .select .choices>div.title {
    display: inline-block;
    border-right: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
    padding: 0.6rem 1rem;
    border-radius: 4px;
}

/*
 * Si pas spécifié, le conteneur de la sélection est une ligne d'éléments.
 */
.flymultiselect .select .choices div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

/*
 * Partie selection a un indicateur si la sélection est correct ou non.
 */
.flymultiselect .select .choices::before {
    float: right;
    padding: 0.6rem 1rem;
    border-left: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
    border-radius: 4px;
}

/*
 * Indicateur si la selection est requise mais vide.
 */
.flymultiselect .select .choices:not(.valid):has(input[required]:empty)::before {
    content: "empty";
    color: var(--red-color);
    border-color: var(--red-color);
}

/*
 * Indicateur si la sélection a au moins un choix valide.
 */
.flymultiselect .select .choices.valid:has(input[required]):before {
    content: "correct";
    color: var(--green-color);
    border-color: var(--green-color);
}

/*
 * Element de la sélection.
 */
.flymultiselect .select .choices .display .option {
    border-right: 1px solid var(--lightgrey);
    background-color: var(--darkgrey);
    padding: 0.6rem 0 0.6rem 1rem;
    pointer-events: none;
    color: var(--white-color);
    position: relative;
}

/*
 * Tooltip sur l'élément déjà choisi.
 */
.flymultiselect .select .choices .display .option[data-tooltip]::before {
    content: attr(data-tooltip);
    background-color: var(--darkgrey);
    border: 1px solid var(--red-color);
    color: var(--lightgrey);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    opacity: 0;
    visibility: hidden;
}

.flymultiselect .select .choices .display .option[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
}

/*
 * Bouton de suppression de l'élement de la sélection.
 */
.flymultiselect .select .choices .display .option::after {
    content: "x";
    padding: 0 0.5rem;
    cursor: pointer;
    pointer-events: all;
    font-weight: 600;
    color: #1a1a1a;
    font-family: cursive;
}

/*
 * Champ de recherche
 */
.flymultiselect .select .selector .input {
    border-style: solid;
    border-width: 1px;
    border-color: var(--lightgrey);
    border-radius: 4px;
}

/*
 * Input du champ de recherche
 */
.flymultiselect .select .selector .input input {
    border: none;
    margin-bottom: unset;
    color: var(--white-color);
}

/*
 * Afficher la liste des options si le focus est dans le champ de recherche
 */
.flymultiselect .select .selector .input:has(input:focus-within)+ul {
    display: block;
}

/*
 * Afficher la liste des options
 */
.flymultiselect .select .selector ul.visible {
    display: block;
}

/*
 * Liste des options
 */
.flymultiselect .select .selector ul {
    list-style: none;
    text-align: justify;
    padding: 1rem;
    display: none;
    overflow: scroll;
    max-height: 29.5rem;
    position: absolute;
    width: 70%;
    z-index: 10;
}

/*
 * Groupe d'options
 */
.flymultiselect .select .selector ul li.optgroup {
    padding: 1rem;
    font-weight: bold;
    color: var(--red-color);
}

/*
 * Option
 */
.flymultiselect .select .selector ul li.option {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-left-width: 4px;
    border-color: var(--lightgrey);
    border-radius: 4px;
    cursor: pointer;
    color: var(--white-color);
}

/*
 * Survol de l'option
 */
.flymultiselect .select .selector ul li.option:hover {
    background-color: var(--lightgrey);
    color: var(--darkgrey);
}

/*
 * L'option sélectionnée est cachée 
 * (autrement que display:none qui est déjà utilisée pour cacher les options qui ne matchent pas la recherche).
 */
.flymultiselect .select .selector ul li.chosen {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}